{% extends "base.html" %}

{% block body_block %}
<h3>Requisition History</h3>
<br>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Inventory</th>
        <th scope="col">Amount</th>
        <th scope="col">Unit</th>
        <th scope="col">Approved</th>
        <th scope="col">Distributed</th>
      </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
            <tr>
                <th scope="row">{{item.pk}}</th>
                <td><a href="{% url 'inventory:requisition_detail' pk=item.pk %}">{{ item.title }}</a></td>
                <td>{{ item.inventory.name }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.inventory.unit }}</td>
                <td>
                    {% if item.approved %}
                        <span class="text-success">Yes</span>
                    {% else %}
                        <span class="text-danger"><strong>No</strong></span>
                    {% endif %}
                </td>
                <td>
                    {% if item.distributed %}
                        <span class="text-success">Yes</span>
                    {% else %}
                        <span class="text-danger"><strong>No</strong></span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock body_block %}