{% extends "base.html" %}

{% block body_block %}
<h3>Requests</h3>
<br>
<ul class="list-group">
    {% for item in object_list %}
        <li class="list-group-item">
            <span>{{ item.user }} requested for {{ item.amount }} {{ item.inventory.unit }}(s) of {{ item.inventory.name }}</span>
            <a href="{% url 'inventory:requisition_distributed' pk=item.pk %}" class="btn btn-primary" style="float: right;">Done</a>
        </li>
    {% empty %}
        <li>No request yet.</li>
    {% endfor %}
</ul>
{% endblock body_block %}