{% extends "base.html" %}

{% block body_block %}
<h3>{{ object.title }}</h3>
<br>

<form method="post">
    {% csrf_token %}
    <strong>{{ requisition.title }}</strong>
    <p>{{ requisition.user }} requested for {{ requisition.amount }} {{ requisition.inventory.unit }}(s) of {{ requisition.inventory.name }}</p>

    {% if object.comment %}
        <strong>Comment:</strong>
        <p>{{ requisition.comment }}</p>
    {% endif %}
    {% if object.approver is not None %}
        <label class="form-label" for="distributor"><strong>Approver</strong></label>
        <input class="form-control" type="text" value="{{ requisition.approver }}" disabled>
    {% endif %}
    {% if object.distributor is not None %}
        <label class="form-label" for="distributor"><strong>Distributor</strong></label>
        <input class="form-control" type="text" value="{{ requisition.distributor }}" disabled>
    {% endif %}
</form>
{% endblock body_block %}