<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Inventory Management</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><strong>Home</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <strong><a class="nav-link" href="{% url 'inventory:list' %}">Inventory</a></strong>
        </li>
        <li class="nav-item active">
          <strong><a class="nav-link" href="{% url 'inventory:requisition_history' %}">History</a></strong>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'inventory:create' %}">New Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'inventory:create_requisition' %}">Requisition</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'inventory:requisition_approved_list' %}">Distribution</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'inventory:requisition_list' %}">Requests</a>
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <span class="navbar-brand" style="color: black;">@<strong>{{user.username}}</strong></span>
          </li>
          <li class="nav-item">
            <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'accounts:signout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'accounts:signin' %}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container">
    {% block body_block %}
    {% endblock body_block %}
  </div>
  <script src="{% static 'scripts/site.js' %}"></script>
  <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
</body>
</html>